body {
    background: url(./img/RCCV.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Sempre Celta", "Inter", sans-serif;
    padding: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto);
    margin: 0 auto;
    grid-gap: 10px;
    grid-template-areas:
        "h1 h1 h1 h1"
        "h2 h2 h2 h2"
        "h2p h2p RCFV RVSC"
        "divp divp divp divp"
    ;

}

#RCFV {
    grid-area: RCFV;
    size: 7em;
}

#RVSC {
    grid-area: RVSC;
}

#h1 {
    grid-area: h1;
}

#h2 {
    grid-area: h2;
}

#h2p {
    grid-area: h2p;
}

#divp {
    grid-area: divp;
}



h1 {
    color: #C09A4E;
    font-weight: 700;
}

h2 {
    color: #D50032;
    font-weight: 600;
}

p {
    color: #FFFFFF;
    font-weight: 400;
}






/*Zona de las fuentes*/
@font-face {
    font-family: "Sempre Celta";
    src: url(./fonts/Sempre_Celta/SempreCelta-400-Regular.woff);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Sempre Celta";
    src: url(./fonts/Sempre_Celta/SempreCelta-600-Semibold.woff);
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Sempre Celta";
    src: url(./fonts/Sempre_Celta/SempreCelta-700-Bold.woff);
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url(./fonts/Inter/Inter-Light.woff);
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url(./fonts/Inter/Inter-Regular.woff);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url(./fonts/Inter/Inter-Regular.woff2);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url(./fonts/Inter/Inter-Bold.woff);
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url(./fonts/Inter/Inter-Bold.woff2);
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url(./fonts/Inter/Inter-ExtraBold.woff);
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url(./fonts/Inter/Inter-ExtraBold.woff2);
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}