		* {
			margin: 0;
			padding: 0;
			border: 0;
		}
		
		ul {
			list-style: none;
		}
		
		header {
		background-color: #FAEBD7;
		background-image: url(Benedetti.jpg);
		background-repeat: no-repeat;
		background-position: 95% 5px;
		background-size: 2.8em;
		}
		
		body {
		background-color:  #778899;  
		font-size: 16px;
		font-family: Georgia "Times New Roman", serif;
		color: #333;
		text-align: justify;
		}
		
		main {
			max-width: 950;
			background-color: #FFFFE0;
			padding: 0,5em;
			margin: 0 auto;
			display: flex;
			flex-direction: column;
			box-shadow: 0px 10px 8px 5px grey;
		}
		
		nav ul {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			background-color: #323232;
			padding: 0,5em;
		}
		
		nav ul li {
			width: 33%;
			
		}
		nav ul li a {
			text-decoration: none;
			color: white;

		}
		
		h1, h2, h3 {
			margin-bottom: 0.2em;
		}
		
		h1 {
			padding: 0.5em 1em 0 0.8em;
		}