li{
    border: 2px lightblue solid;
    border-radius: 2px;
    margin: 5px auto;
    font-family: Arial;
    text-align: left;
}
input,label{
    margin-left: 10px;
    padding: 5px;
    text-align: left;
    align-content:normal;
}
h1{
    color: #ad6fa0;
}
p{
    color: #9d9ff9;
}
label{
    color: #444444;
    font-weight: bold;
}
h1{
    font-family: Verdana;
}
li div{
    display: flex;
    flex-direction: row;
    align-items: center;
}
