table, td, th {border-collapse:collapse; border:grey 2px solid;empty-cells:hide;text-align:center;}
.edad{background-color:#BBBBFF}
.hombres1{background-color:#AAFFAA}
.mujeres1{background-color:#FFBBBB}
.hombres2{background-color:#BBFFBB}
.mujeres2{background-color:#FFCCCC}